$text-color: #272a2a;
$color-pink: #f50057;
$color-blue: #3f51b5;
$color-light-grey: #e0e0e0;
$color-white: #fff;

body {
  width: 100vw;
  margin: 0;
}

.page {
  width: inherit;
  height: inherit;
}

.page__sprint {
  width: inherit;
  height: 97vh;
  background-image: url('../images/sprint-game/sprint-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  position: fixed;
  top: 60px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 0;
  outline: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.btn-fullscreen {
  right: 40px;
  background-image: url("../images/sprint-game/svg/fullscreen-open.svg");
}

:-webkit-full-screen .btn-fullscreen {
  background-image: url("../images/sprint-game/svg/fullscreen-exit.svg");
}

.btn-exit {
  left: 40px;
  background-image: url("../images/sprint-game/svg/exit.svg");
}

.main-content {
  position: relative;
  max-width: 650px;
  min-width: 300px;
  min-height: 350px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: $text-color;
  text-transform: initial;
  font-size: 1.5rem;
  background-color: #fff;
  padding: 2%;
  border-radius: 10px;
  box-sizing: border-box;

  h2 {
    font-size: 4rem;
    margin-top: 0;
    text-align: center;
  }
}

.levels {
  padding-left: 10%;
}

.btn-level {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-color: #272a2a;
  transition: .8s;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  &.active {
    border-width: 4px;
    box-sizing: border-box;
  }
}

.btn-level1 {
  background-color: #efece7;
}

.btn-level2 {
  background-color: #e3dfdb;
}

.btn-level3 {
  background-color: #cfcbc7;
}

.btn-level4 {
  background-color: #a9a5a1;
}

.btn-level5 {
  background-color: #85807b;
}

.btn-level6 {
  background-color: #5c5a58;
}

.btn-start {
  width: 100px;
  height: 40px;
  color: rgba(0, 0, 0, 0.26);
  background-color: rgba(0, 0, 0, 0.12);
  font-size: 1.4rem;
  margin-left: 10%;
  border-radius: 5px;

  &.active {
    color: $color-white;
    background-color: $color-blue;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    transition: .8s;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1);
    }
  }
}

.timer {
  display: flex;
  justify-content: flex-end;
}

.countdown-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: $color-light-grey;
  border: 2px solid #241919;

  span {
    font-size: 2rem;
  }
}

.word-container {
  position: relative;
  top: -70px;
  text-align: center;
}

.word {
  font-size: 5rem;
  margin: 30px 0;
}

.translation {
  font-size: 2rem;
  margin-bottom: 0;
}

.btn-container {
  text-align: center;
  padding: 30px 0;
  border-top: 2px solid;
}

.btn-false,
.btn-true {
  width: 120px;
  height: 50px;
  margin: 0 20px;
  border-radius: 5px;
  color: $color-white;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }
}

.btn-false {
  background-color: $color-pink;
}

.btn-true {
  background-color: $color-blue;
}

.progress {
  display: flex;
  justify-content: center;
}

.progress-item {
  width: 50px;
  height: 50px;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  padding: 25px 0;
}

.checkbox {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: $color-light-grey;
}

.total-points {
  margin-top: 0;
  font-size: 3rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0em;
  color: $color-pink;
}

.total-points-container {
  padding: 16px 0;
  text-align: center;
}

.total-points-title {
  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

.words-container {
  height: 500px;
  width: 100%;
  overflow-y: scroll;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.mistakes-title,
.correct-title {
  color: rgba(0, 0, 0, 0.54);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.00938em;

  span {
    color: $color-white;
    padding: 2px 8px;
    margin-left: 16px;
    border-radius: 8px;
    background-color: #f44336;
  }
}

.correct-title {
  span {
    background-color: $color-blue;
  }
}

.mistakes-list,
.correct-list {
  padding: 0;
}

.items {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: flex-start;
  text-decoration: none;
}

.items-elem {
  margin: 0 20px;
}

.item-btn {
  width: 35px;
  height: 30px;
  margin: 0;
  background-image: url(../images/sprint-game/svg/volume.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }
}

.statistic-btn-container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.statistic-btn {
  min-width: 64px;
  height: 45px;
  padding: 6px 16px;
  font-size: 0.875rem;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  line-height: 1.75;
  border-radius: 5px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  transition: .8s;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }
}

.btn-leave {
  color: rgba(0, 0, 0, 0.87);
  background-color: #e0e0e0;
}

.btn-restart {
  color: $color-white;
  background-color: $color-blue;
}
