.footer {
  height: 60px;
  @include font($size: 1.8rem, $height: 1.5rem);
  @extend %font-prime;
  background: $color-light;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.rss-logo {
  display: inline-block;
  width: 100px;
  height: 40px;
  background-size: contain;
  background-image: url('../images/svg/rs_school_logo.svg');
  background-repeat: no-repeat;
  @extend %transition;
  &:hover {
    filter: invert(26%) sepia(100%) saturate(1008%) hue-rotate(211deg) brightness(89%) contrast(91%);
  }
}

.github-user {
  text-decoration: none;
  color: #000000;
  @extend %transition;
  &:hover {
    color: $color-primary;
  }
}
