.wrapper {
  max-width: 1200px;
  margin: 20px auto;
  padding: 40px;
}

.wrapper-intro {
  margin-top: 20px;
  background: $color-light;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}
